# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
-  Python
-  R
-  SQL

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
factor = 60
hours = int(minutes/factor)
remainder = minutes%factor
print(str(hours) +'h ' + str(remainder) + 'min')
#also as one expression or one line of code
print(str(int(200/60)) + 'h ' + str(200%60) + 'min')

3h 20min
3h 20min

## Author
Petica Stefan